<form action="sentiment" method="POST" id="sentiment_form">
  <textarea name="feelings" rows="8" cols="80" placeholder="what you thinking..." maxlength="150" required form="sentiment_form"></textarea>
  <input type="submit"/>
</form>
